# Set the default behavior, in case people do not have core.autocrlf set.
* -text

#SMWs are really text but they should be binary with the way simpl windows works 
*.smw binary

#declare tesira files as binary
*.tmf binary
*.cdi binary

# Declare files that are text files
.gitattributes text
.gitignore text
*.md text

# Denote all files that are truly binary and should not be modified
*.vtp binary
*.zip binary
*.vtz binary
*.lpz bomary

# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
